footer {
  min-height:200px;
  background-color: #343b46;
  color:white;
  padding: 30px;
  .col-md-10 {
    padding:0;
  }

}

footer h3 {
  color:white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul li {
  margin: 2px 0;
}

footer img {
  width: 34px;
  margin-right:20px;
}
