button {
  outline: none;
}

header {
  position:fixed;
  padding: 0 15px;
  background: white;
  width:100%;
  min-height: 60px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  display:flex;
  justify-content: center;

  a {
    text-decoration: none;
    color: #343b46;
    padding: 10px 20px;
  }

  a:hover {
    color: #0071bc;
  }

  a:active {
  	color: #0071bc;
  }

  .red  {
    color:tomato;
  }

  .menu-btn {
    display: none;
    margin-top: 15px;
  }
}

.social-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width:34px;
  }
}

.social-nav > * {
  margin-right:15px;
}


@media screen and (max-width: 600px) {
  header {
    .main-title  {
      font-size: 1.6em;
    }

    .main-nav {
      a { display: none }
      .menu-btn { display: block }

    }
  }

}
