$primary-title-color: #0071bc;

button {
  outline: none;
}

header {
  //position:fixed;
  background: white;
  width:100%;
  min-height: 60px;
  display: flex;
  align-items: center;

  .main-title {
  text-align: center;
  text-transform: uppercase;
  color: $primary-title-color;
  font-size: 3.2em;
  margin-bottom: 0;
  }
}

.main-nav {
  display:flex;
  justify-content: center;


  a {
    text-decoration: none;
    color: #343b46;
    padding: 10px 20px;
    font-weight:bold;
    text-transform: uppercase;
  }

  a:hover {
    color: #0071bc;
  }

  a:active {
  	color: #0071bc;
  }

  .red  {
    color:tomato;
  }

  .menu-btn {
    display: none;
    margin-top: 15px;
  }
}


@media screen and (max-width: 600px) {
  header {
    .main-title  {
      font-size: 1.6em;
    }

    .main-nav {
      a { display: none }
      .menu-btn { display: block }

    }
  }

}
