
//about section

.intro-text {
  padding:30px 0 60px;
  display: flex;
  justify-content: center;

  .intro-text-wrapper {
    max-width:800px;
  }

  h2 {
    margin-bottom: 40px;
  }

  .center {
    text-align: center;
  }

  p {
    margin-bottom: 30px
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
  }

}

h3 {
  font-size: 1.4em;
  color: #343b46;
}

.exchanges {
  min-height: 300px;
  padding:  60px 30px;
  background: #49a6ed;

  .exchanges-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .exchange-box {
    background-color: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    color: #697882;
    width: 25%;
    margin: 0 10px;
    padding: 0 20px 20px 20px;
  }


  p {
    margin-bottom: 20px;

  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
  }

  .btn {
    margin-top: 15px auto;
  }

}

// promoters section

.promoters {
  background: #FFF;
  padding:60px;

  .promoters-wrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
  }

  .center {
    text-align: center;
  }

  .promoters__img  img {
    max-width: 250px;
  }

}

// twits

.twits {
  min-height: 653px;
  background-color: whitesmoke;
}
