.wrapper {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
  padding: 40px;
}

h2 {
	font-weight:300;
	font-size:2em;
  color: #343b46;
}

h3 {
  font-size: 1.4em;
  color: #343b46;
}

.exchange {
  .col-md-5 {
    padding:0;
  }

  .exchange-box {
    background: #fafafa;
    min-height: 270px;
    margin-top: 30px;
    padding: 10px 50px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
  }

  .btn-exchange {
    transition: all .3s ease;
    background: #ffc713;
    color: #343b46;
    border: 1px solid #ffc713;
    padding: 7px 20px;
    margin:30px 0;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;

  }
}



.contact-me {
  margin-top: 30px;

  .contact-box {
    min-height: 270px;
    background: #fafafa;
    width:100%;
    padding: 20px 40px;
    h4 {
    color: #464646;
    font-size: 1.4em;
    font-weight: 300;
    }
  }


}

.column {
  width: 50%;
  img {
    width:100%

  }
}

//slider

.slider-box {

  max-height: 500px;

  img {
    width:100%;
  }
}
// promoters section

.promoters {
  background: #FFF;
  padding: 100px 0;
}



.promoters-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;


  img {
    max-width: 250px;
  }
}


