* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #343b46;
  padding:0;
}

p {
  margin: 0;
  padding: 0;
}

.intro {
  background-position: center 80%;
  background-size: cover;
  height: 90vh;
  display:flex;
  justify-content: center;
  align-items: center;

  .main-title {
    color: white;
    font-size: 3em;
  }

  img {
    width:100%;
  }
}

.home {
  background-image: url('/assets/print2.jpg');
}

.exchange {
  background-image: url('/assets/dance.jpg');
}

.expert {
  background-image: url('/assets/fachkräfte.jpg');
}

.volunteer {
  background-image: url('/assets/fachkräfte.jpg');
}

.trip {
  background-image: url('/assets/bildungsreisen.jpg');
}

.blog {
  background-image: url('/assets/bayern.jpg');
}

.team {
  background-image: url('/assets/school.jpg');
}

.projects {
  background-image: url('/assets/print2.jpg');
}


.center {
  text-align:center;
}

.white {
  background: white;
}
