.posts-list {
	background: whitesmoke;
	padding: 60px;

	.post {
		background: white;
		border: 1px solid #e1e8ed;
    border-radius: 5px;
		color: #697882;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 20px;
		padding:30px;
		max-width: 1000px;

		.post-title {
		  font-size: 24px;
		  margin:10px 0 0 ;
		  color: #464646;
		}
	}
}





.submit-btn,
.read-more-link {
  padding:5px 20px;
  border:none;
  background:#0071bc;
  color:white;
  border-radius: 4px;
  border:none;
  margin:0 10px;
  font-size: 16px;
  vertical-align: middle;

}


.panel {
	position: absolute;
	top:0;
	right:0;
	margin-right: 10px;

	a {
	  display: inline-block;
	  text-decoration: none;
	  color: black;
	  margin:10px;
	}
}



// styles for new post form



.post__form {
  width: 100%;
  padding:50px;
}

.form-group {
  background: #fafafa;
  padding:30px;
  margin:20px 0;
}

.hidden {
  display: none;
}

.form {
  .text-field {
    width:100%;
    box-sizing: border-box;
    padding:10px;
    font-size: 16px;
  }

  .text-area {
    width:100%;
    box-sizing: border-box;
    border:none;
    min-height: 200px;
    padding:10px;
    resize: vertical;
    font-size: 16px;
    border: 1px solid #fafafa;
  }
  .form-group {
    margin:10px 0;
  }
}

.submit-btn,
.read-more-link {
  padding:5px 20px;
  border:none;
  background:#0071bc;
  color:white;
  border-radius: 4px;
  border:none;
  margin:0 10px;
  font-size: 16px;
  vertical-align: middle;
 }



.submit-btn {
  background:#0071bc;
}

.cancel-btn {
  background: tomato;
}

// show page
.blog {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.image-box {
	max-width: 700px;

	img{
		width:100%;
	}
}
