// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel a:hover {
	color: #0071bc;
}

.projects-section {
	padding:40px;
}
.project {
	width:100%;
	max-width:900px;
	background: #f5f5f5f5;
	margin: 0 auto;
	position:relative;

	.project-image-box {
		img {
			width:100%;
		}

	}

	.project-description {
		padding:20px;
	}

	.footer {
		margin:20px 20px 0;
		display:flex;
		justify-content: flex-end;
	}

	.read-more-link {
		padding:5px 20px;
		border:none;
		background:#0071bc;
		color:white;
	}
}
