//main
@media screen and (max-width: 600px) {
  .intro {
    height: 250px;

    .main-title {
      color: white;
      font-size: 1.5em;
    }
  }
}



//footer

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    justify-content: center;
  }
}

//home page

@media screen and (max-width: 600px) {

  
  .promoters {
    padding: 1em;

    .promoters-wrapper{
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }

    .promoters__img {
      margin: 20px;
    }
  }


}
