header
  .container
    /h1 class="main-title" Chance International
    nav class="main-nav"
      =link_to 'Home', controller: 'pages', action: 'home'
      =link_to 'Unser Team', controller: 'pages', action: 'about'
      =link_to 'Unsere Projekte', projects_url
      =link_to 'Blog', posts_url
      =link_to 'Kontakt', controller: 'pages', action: 'contact'
      =link_to 'Mitmachen!', ads_url
    nav class="main-nav"
      -if user_signed_in?
        =link_to 'Admin', { controller: 'pages', action: 'admin' }, class: 'red'
        =link_to 'Sign out', destroy_user_session_path, :method => :delete

      button class="menu-btn btn" Menu
